<!DOCTYPE html>
<html lang="en">
<head>
    <title>Winterfell</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../assets/css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>
<body>
    <div class="login-box">
        <h1>Iniciar Sesión</h1>

        <form>
            <label for="username">Usuario</label>
            <input type="text" id="username" placeholder="Ingrese Usuario">
            <label for="password">Contraseña</label>
            <input type="password" id="password" placeholder="Ingrese Contraseña">
            <button type="button" id="login">Siguiente</button>
            <hr>
            <a href="#">He olvidado la contraseña</a>
            <br>
        </form>
    </div>
<script src="../../assets/js/login.js"></script>
</body>
</html>